<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>



<div class="container">
  <div class="col-md-offset-2 col-md-8 table-responsive">
    <table class="table table-striped table-bordered" id="profile">
      <tbody>
        <tr>
          <th>名前</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>メール</th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <th>地域</th>
          <td><%= @user.place %></td>
        </tr>
        <tr>
          <th>プロフィール</th>
          <td><%= simple_format(@user.profile) %></td>
        </tr>
      </tbody>
    </table>
    
    <% if @user.id == current_user.id %>
      <%= link_to "プロフィール編集", edit_user_path(current_user.id) %>
    <% end %>
  </div>
</div>