<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Search
      </h1>
      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag :key, params[:keyword], placeholder: 'Search keyword' %>
        <%= submit_tag "Search keyword", class: "btn btn-primary" %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">

  <h3><% unless @keywords.nil? %>「<%= params[:keyword] %>」での検索結果
      <% else %>Microposts
      <% end %>(<%= @microposts.count %>)</h3>
    <% if @microposts.any? %>  
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% else %>
      <div class="nodata">検索結果なし</div>
    <% end %>
  </div>
</div>
